<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIMB</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="static/images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Manrope:wght@200..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="page">
        <header class="header" id="header">
            <div class="container">
                <div class="logo">
                    <img src="static/images/logo.png" alt="Logo">
                </div>
            </div>
        </header>

        <!-- Intro -->
        <div class="intro" id="intro">
            <div class="container">
                <div class="pram">
                    <div class="text-box">
                        <div class="text-content">
                            <h3>ЖИЗНЬ С ПИСАТЕЛЬСТВОМ</h3>
                            <h2>ЭТО НЕ ЗАБЕГ <br> ЭТО <span>ЖИЗНЬ<span></h2>
                            <p>Вносим в жизнь самодисциплинирующий и соревновательный элемент.
                                А табличка сама скажет, кто тут умничка. И пусть каждое слово приближает тебя к цели!
                            </p>
                            <a href="#participate" class="btn">Принять участие</a>
                            <div class="participants"><span>10+</span> участников</div>
                        </div>

                    </div>
                </div>

            </div>
        </div><!-- /.intro -->

        <div class="data" id="participate">
            <div class="container">
                <div class="line-top"></div>
                <div class="rules-left">
                    <div class="text">
                        <h3>чтобы принять участие:</h3>
                        <ol>
                            <li>Каждую неделю список участников заполняется заново, записывайте себя.</li>
                            <li>Когда вы запишите себя, во всех днях автоматически выставится 0.</li>
                            <li>Установите себе личную цель слов в день.</li>
                            <li>Пишите! ♥</li>
                        </ol>
                    </div>
                </div>
                <div class="line-btn"></div>
                <div class="rules-right">
                    <div class="text">
                        <h3>Введите данные:</h3>
                        <div class="input">
                            <div class="input-cont input-container">
                                <img src="static/images/pencil.png" alt="🔍">
                                <input id="nickname" type="text" required placeholder="Ник..." autocomplete="off">
                                <ul id="nickname-list" class="dropdown-list" style="display:none;"></ul>
                            </div>
                            <div class="input-cont">
                                <img src="static/images/calendar.png" alt="🔍">
                                <!-- <input id="day" type="text" required placeholder="День..."> -->
                                <label for="day"></label>
                                <select id="day" name="day">
                                    <option value="ПН">Понедельник</option>
                                    <option value="ВТ">Вторник</option>
                                    <option value="СР">Среда</option>
                                    <option value="ЧТ">Четверг</option>
                                    <option value="ПТ">Пятница</option>
                                    <option value="СБ">Суббота</option>
                                    <option value="ВС">Воскресенье</option>
                                </select>
                            </div>
                            <div class="input-cont">
                                <img src="static/images/circle.png" alt="🔍">
                                <input id="goal" name="goal" type="text" required placeholder="Цель...">
                            </div>
                            <div class="input-cont">
                                <img src="static/images/write.png" alt="🔍">
                                <input id="word-count" type="text" required placeholder="Количество слов...">
                            </div>
                        </div>
                        <a href="#table" class="btn" id="submit">Записаться</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="table-content" id="table">
            <div class="container">
                <table class="table">
                    <caption>Вечная таблица подсчета слов</caption>
                    <thead>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="canvas">
            <div class="container">
                <canvas id="bar-chart" width="400" height="200"></canvas>
            </div>
        </div>


    </div>


    <footer class="footer">
        <div class="container">
            <div class="logo">
                <a href="#header">
                    <img src="static/images/logo.png" alt="Logo">
                </a>
            </div>
        </div>
    </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>