* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: #131A24;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}



/* Header */
.header {
    position: absolute;
    background-color: #131A24;
    width: 100%;
    padding: 21px;
    text-align: center;
    z-index: 1000;
}


.logo img {
    width: 86px;
    height: 28px;
    vertical-align: bottom;
    align-items: center;
}



/* INTRO */
.intro {
    width: 100%;
    height: 100vh;
    min-height: 800px;

    position: relative;

    background: url("../images/content.png") center no-repeat;
    background-size: cover;
}

.intro .pram {
    padding-top: 110px;
    margin-left: 630px;
}

.text-box {
    position: absolute;
    width: 100%;
    max-width: 555px;
    height: 650px;

    background: white;
    border-radius: 25px;
    text-align: center;
}

.text-content {
    padding: 90px 40px 0 40px;
}

.text-box h2 {
    font-size: 58px;
    line-height: 110%;
    letter-spacing: -2%;
    margin-bottom: 30px;
    color: #131A24;
}

.text-box h2 span {
    color: #F6DDE1;
}

.text-box h3 {
    font-size: 12px;
    font-weight: 600;
    color: #A0A0A0;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 16px;
    color: #232323;
    margin-bottom: 30px;
    line-height: 130%;
}

.btn {
    display: inline-block;
    background: #FF6B6B;
    color: white;
    padding: 25px 91px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 137px;
}

.participants {
    font-size: 13px;
    color: #232323;
}

.participants span {
    font-weight: bold;
}




/* DATA */
.data {
    position: relative;
    width: 100%;
    height: 454px;
}

.data .line-top {
    position: absolute;
    margin-left: 325px;
    width: 43px;
    height: 79px;
    background-color: #F2DEE1;
}

.data .line-btn {
    position: absolute;
    top: 375px;
    margin-left: 859px;
    width: 43px;
    height: 79px;
    background-color: #F6DDE1;
}

.data .rules-left {
    position: absolute;
    margin-top: 79px;
    margin-left: 50px;


    width: 594px;
    height: 254px;
    background-color: #fff;
    border-radius: 25px;
}

.data .rules-right {
    position: absolute;
    margin-top: 122px;
    margin-left: 586px;

    width: 594px;
    height: 254px;
    background-color: #F6DDE1;
    border-radius: 25px;
}

.data .rules-left .text ol {
    width: 480px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 77px;
    color: #232323;
}

.data .rules-left .text h3,
.data .rules-right .text h3 {
    font-size: 16px;
    padding-top: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: -4%;
    color: #131A24;
    margin-bottom: 10px;
}

.button-top,
.button-left,
.button-right {
    background-color: #ffffff;
    margin: 20px auto;
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.data input {
    width: 100px;
    margin-right: 20px;
    flex: 1;
    border: none;
    outline: none;
    font-family: "Caveat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A0A0A0;
}

.data img {
    margin: 0 9px;
}

.button-btn {
    display: flex;
    margin: -25px 102px;
}

.button-left,
.button-right {
    background-color: #ffffff;
    margin: 20px auto;
    width: 155px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 15px;
}



/* TABLE */
.table-content {
    display: flex;
    justify-content: center;
    background-color: #F6DDE1;
}


.table {
    width: 100%;
    background-color: #F6DDE1;
    margin: 40px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    border-collapse: collapse;
}

.table tbody tr :nth-child(2) {
    text-align: left;
    font-weight: 700;
}

.table caption {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: -4%;
    color: #131A24;
    padding-bottom: 20px;
}

.table tr {
    height: 36px;
}

.table th {
    color: #fff;
    background-color: #FF6B6B;
}

.table .one {
    background-color: #FFECEF;
}

.table .two {
    background-color: #fff;
}

.table th,
.table td {
    padding: 5px;
    border-right: 1px solid #FF6B6B;
}

.table th:last-child,
.table td:last-child {
    border: none;
}

/* LEADERBARD */
.leaderboard {
    display: flex;
    justify-content: center;
}

.leaderboard #container {
    width: 100%;
    max-width: 1230px;
    margin: 60px 0;
}

/* FOOTER */

.footer {
    background-color: #131A24;
    width: 100%;
    padding: 21px;
    text-align: center;
}